<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <style>
        button{
            background-color: #20514f;
            font-family: poppins;
        }

    </style>
</head>

<body class="bg-cover bg-center font-poppins" style="background: url('{{ url_for('static', filename='images/wall2.jpg') }}')">
    <div class="min-h-screen flex justify-center items-center bg-opacity-75">
        <div class="w-1/2  p-8 rounded-lg shadow-lg max-w-md">
            <h1 class="text-3xl font-semibold mb-4">Sign Up</h1>
            <form method="POST" action="/register" >
                <div class="mb-4">
                    <label for="username" class="block text-sm font-medium ">Username</label>
                    <input type="text" id="username" name="username" class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                </div>
                <div class="mb-4">
                    <label for="email" class="block text-sm font-medium ">Email</label>
                    <input type="email" id="email" name="email" class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                </div>
                <div class="mb-4">
                    <label for="password" class="block text-sm font-medium ">Password</label>
                    <input type="password" id="password" name="password" class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                </div>
                <div class="mb-4">
                    <label for="confirmPassword" class="block text-sm font-medium ">Confirm Password</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                </div>
                <button type="submit" class="w-full 
                text-white py-2 px-4 rounded-md hover:bg-opacity-75 hover:bg-blue-400">Sign Up</button>
            </form>
        </div>
    </div>
</body>

</html>